{
  "env": {
    "node": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "class-methods-use-this": 0,
    "arrow-body-style": [
      "error",
      "always"
    ]
  }
}

